/* icons */

.fa-regular {
  padding: 6px;
}

/* btn */

.btn-delete {
  color: #b23a32;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.btn-edit {
  background: none;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: #b23a32;
  border-radius: 999px;
  padding: 6px 12px;
  color: #f9f9f9;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  background: none;
  border: 1px solid #b23a32;
  border-radius: 999px;
  padding: 6px 12px;
  color: #b23a32;
  cursor: pointer;
}

.btn-review {
  margin-bottom: var(--s-4);
  margin-left: var(--s-2);
  padding: 12px 24px;
  align-self: flex-start;
}
