/* Top navigasjon */

nav {
  padding: 12px 16px;
  color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.logo-container {
  margin-right: auto;
}

.logo {
  height: 60px;
  width: auto;
}

/* icons */

.fa-regular {
  padding: 6px;
}
