:root {
  --s-1: 8px;
  --s-2: 16px;
  --s-3: 24px;
  --s-4: 32px;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  background: #fbf6f1;
  font-family: "inter", sans-serif;
  font-size: 12px;
}

section {
  margin-bottom: var(--s-4);
}

nav {
  padding: 12px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--s-3);
  border-bottom: #7a1f1b 1px solid;
}

.nav-guest {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--s-3);
}

.logo-container {
  margin-right: auto;
}

.logo {
  width: auto;
  height: 60px;
}

a {
  color: #7a1f1b;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  color: #7a1f1b;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  margin: var(--s-4) 0 var(--s-3);
}

h2 {
  color: #7a1f1b;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  border-left: 4px solid #b23a32;
  padding: 10px 14px;
  border-radius: 12px;
  margin: var(--s-4) 0 var(--s-2);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #333;
}

button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
